In [143]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

df=pd.read_csv("./data/training_dataset.csv",low_memory=False)
df.match_date = df.match_date.apply(lambda x:datetime.strptime(x, '%Y-%m-%d'))

In [153]:
df

,player1_name,player1_atprank,player2_name,player2_atprank,match_date,match_location,match_tournament,match_surface,match_odd_player1,match_odd_player2,winner_player1
0,Harrison R.,433.0,Mager G.,91.0,2021-01-07,Delray Beach,Delray Beach Open,Hard,2.00,1.72,0
1,Kwon S.W.,82.0,Korda S.,213.0,2021-01-07,Delray Beach,Delray Beach Open,Hard,1.72,2.00,0
2,Paul T.,55.0,Nam J.S.,NaN,2021-01-07,Delray Beach,Delray Beach Open,Hard,1.12,6.00,1
3,Kecmanovic M.,42.0,Travaglia S.,74.0,2021-01-07,Antalya,Antalya Open,Hard,2.62,1.44,0
4,Monteiro T.,84.0,Bellucci T.,278.0,2021-01-07,Delray Beach,Delray Beach Open,Hard,1.36,3.00,1
...,...,...,...,...,...,...,...,...,...,...,...
7057,Tiafoe F.,64.0,Evans D.,31.0,2023-08-05,Washington,Citi Open,Hard,3.75,1.29,0
7058,Fritz T.,29.0,Griekspoor T.,172.0,2023-08-06,Washington,Citi Open,Hard,3.50,1.30,0
7059,De Minaur A.,25.0,Tsitsipas S.,6.0,2023-08-06,Los Cabos,Los Cabos Open,Hard,1.36,3.20,0
7060,Dimitrov G.,20.0,Evans D.,31.0,2023-08-06,Washington,Citi Open,Hard,3.20,1.36,0
7061,Evans D.,31.0,Griekspoor T.,172.0,2023-08-06,Washington,Citi Open,Hard,2.00,1.80,1

In [155]:
df = df.dropna()

In [156]:
from sklearn.model_selection import train_test_split

X = df.drop(["player1_name", "player2_name","match_location", "match_tournament", "match_date", "match_surface", "winner_player1"],axis=1)
y = df.winner_player1

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [157]:
X_train

      player1_atprank  player2_atprank  match_odd_player1  match_odd_player2
2043              7.0             46.0               1.02              17.00
4677            180.0             34.0               1.90               1.90
2670             12.0             82.0               1.25               4.00
5824             23.0              0.0               4.00               1.25
4829            917.0              6.0               1.16               5.00
...               ...              ...                ...                ...
5640             29.0             23.0               1.29               3.75
4462             98.0             41.0               1.57               2.37
3044             38.0             91.0               1.80               2.00
199             105.0             51.0               3.20               1.36
2726            202.0             66.0               2.30               1.61

[4690 rows x 4 columns]

In [158]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

dtree = DecisionTreeClassifier()
dtree = dtree.fit(X_train, y_train)

#cross_val_score(dtree, X_test, y_test, cv=10)

y_predict = dtree.predict(X_test)

accuracy_score(y_predict, y_test)

0.6956521739130435

In [159]:
y_predict

array([0, 1, 0, ..., 1, 0, 1], dtype=int64)

In [163]:
# ROI return of investment

print("We bet 1€ on all test matches")
df_roi = X_test
df_roi["y_predict"] = y_predict

money_invested=df_roi.shape[0]
print("money spent:", money_invested,"€")

money_won = 0.0
for index, row in (df_roi[y_predict == y_test]).iterrows():
    if row.y_predict == 0 :
        money_won += row.match_odd_player2
    else:
        money_won += row.match_odd_player1

print("money won:",round(money_won,2),"€")

we bet 1€ on all test matches
money spent: 1173 €
money won: 2392.39 €