In [78]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import matplotlib.pyplot as plt

In [79]:
df=pd.read_csv("./data/players.csv",low_memory=False)
df.describe()

,ATPRank,games,wins,loses,players_odds,indoors_win,indoors_loss,outdoors_win,outdoors_loss,ratio_win,players_indoors_win_ratio,players_outdoors_win_ratio
count,1429.000000,1429.000000,1429.000000,1429.000000,896.000000,1429.000000,1429.000000,1429.000000,1429.000000,1429.000000,871.000000,1257.000000
mean,303.211337,72.212736,36.106368,36.106368,3.461692,6.447166,6.447166,29.659202,29.659202,0.256412,0.294805,0.266205
std,290.360729,153.371780,93.132552,66.013197,1.580138,17.592040,12.914480,77.252592,53.834708,0.219615,0.239869,0.214325
min,0.000000,1.000000,0.000000,0.000000,1.135000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,129.000000,2.000000,0.000000,1.000000,2.658006,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,222.000000,6.000000,2.000000,5.000000,3.147096,0.000000,1.000000,1.000000,4.000000,0.285714,0.333333,0.307692
75%,378.000000,61.000000,22.000000,37.000000,3.749802,3.000000,6.000000,18.000000,32.000000,0.436364,0.500000,0.437500
max,3065.000000,1223.000000,1017.000000,425.000000,18.230000,167.000000,94.000000,941.000000,346.000000,1.000000,1.000000,1.000000

In [80]:
df.shape

elo 1500
gagne +32
perds -32


progression : 0.5
gagne 0.1 /anciennete

note cachée  = 1500
-1 par jour 
gangner/perdu + ancienneté match + rank atp adversaire

la note ajoute la temporalité

(1429, 13)

In [15]:
df[df.games > 6]

,name,ATPRank,games,wins,loses,players_odds,indoors_win,indoors_loss,outdoors_win,outdoors_loss,ratio_win,players_indoors_win_ratio,players_outdoors_win_ratio
3,Acasuso J.,256,271,141,130,2.358858,8,15,133,115,0.520295,0.347826,0.536290
6,Agassi A.,39,118,85,33,1.700397,12,5,73,28,0.720339,0.705882,0.722772
12,Al Ghareeb M.,514,7,1,6,NaN,0,0,1,6,0.142857,NaN,0.142857
16,Albot R.,97,215,86,129,3.044603,26,26,60,103,0.400000,0.500000,0.368098
18,Alcaraz C.,1,164,130,34,1.773790,10,5,120,29,0.792683,0.666667,0.805369
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,di Mauro A.,135,48,14,34,3.216263,0,1,14,33,0.291667,0.000000,0.297872
1424,di Pasquale A.,228,12,3,9,2.719500,0,0,3,9,0.250000,NaN,0.250000
1425,van Gemerden M.,106,10,4,6,3.455000,0,0,4,6,0.400000,NaN,0.400000
1426,van Lottum J.,493,17,3,14,2.726000,1,1,2,13,0.176471,0.500000,0.133333
1427,van Scheppingen D.,278,27,8,19,2.984395,3,4,5,15,0.296296,0.428571,0.250000

In [60]:
    
from bs4 import BeautifulSoup as bs
import requests 
atpurl = "https://www.atptour.com/en/scores/current/us-open/560/daily-schedule"
page = requests.get(atpurl)  
bs_atp = bs(page.text, "html.parser")

test = bs_atp.find('div', attrs={'class':"sectioned-day-tables"});
print(bs_atp)

<!DOCTYPE html>
<html lang="en-US"><head><title>Just a moment...</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"/><meta content="IE=Edge" http-equiv="X-UA-Compatible"/><meta content="noindex,nofollow" name="robots"/><meta content="width=device-width,initial-scale=1" name="viewport"/><link href="/cdn-cgi/styles/challenges.css" rel="stylesheet"/></head><body class="no-js"><div class="main-wrapper" role="main"><div class="main-content"><noscript><div id="challenge-error-title"><div class="h2"><span class="icon-wrapper"><div class="heading-icon warning-icon"></div></span><span id="challenge-error-text">Enable JavaScript and cookies to continue</span></div></div></noscript></div></div><script>(function(){window._cf_chl_opt={cvId: '2',cZone: 'www.atptour.com',cType: 'managed',cNounce: '38955',cRay: '7fb25e5e8ae6153d',cHash: 'aefeebfb37f26d9',cUPMDTk: "\/en\/scores\/current\/us-open\/560\/daily-schedule?__cf_chl_tk=l6OSNubSQAVxxN0YiRkBixUT1kZx1Ql0SnJNpHdF8zA-1692783359-0-gaNycGzNCqU",cFPWv: 'g',cTTimeMs: '1000',cMTimeMs: '0',cTplV: 5,cTplB: 'cf',cK: "",fa: "/en/scores/current/us-open/560/daily-schedule?__cf_chl_f_tk=l6OSNubSQAVxxN0YiRkBixUT1kZx1Ql0SnJNpHdF8zA-1692783359-0-gaNycGzNCqU",md: "MsR5.67mOTpnc596B_LYDsrGiWdFAD_ZFmlNN2hRR6c-1692783359-0-AdH1hrSr4_DWOMRbewdYTGeKxtGUxSj3074dHHVmlrvVBGrQWHYv-PJEiU9KZoFXXLqGLpC5Nfg37lbGxQoVMO91TOfzFDU_jCAT5vHt5WUXTCBLZKhrmQ6SO8QlJkXeZvnEUN8Dc_fcS1uFIdLRjNbdHm22WCq1IVIKOrU2mJQ2Q2QES_1nqVH_8E8lSqGQdFA9XB1fXiFZlO4JJ6AjRBF-Ed3gjY_lFbj4adAF47Gd6Yrqz9Odu28bhXcqAt5efwd6jnnasvQMUPZYh-o6btqrHYUvKNgqDlTvHYuNO_pL_WErlKwKx_F-tR6hzIu0SPSt-czTjvyaVPFrr-dAeRtazedyNLv_tC6AU31Wn6vVOJgKxfd2-uGHR6YxGvZ49Xl85E-zPqAgw6skxrMwRN4ruIa6Z5TX3fIfHRnFfv0noa5FiXD-b9H8cKPHzK4P0i48DFtuAv-Z6FMRle-R7lgMnvJQ5eiVGm_pTj2icd64Iy0KbocqAIkleBf3nI578dVRBqyPmJC1nPSEFgIfvRhIcMRa4Fcst0pH6cIrgyiYAcQI0r420uGevtEqP-6KTGSpq20dA7qxkTmon6N3PullqJwaoc-71toIzxvkbD1WhQy4-p9YLAlcbXZHTRD2IM6Yyl3X3GN4rntJ8lcRfidH2Yox8txfFxhb7_4hZeVA5U1si9KmxKMfdjtS5MBxyO4Ffw3cRWWbMe-GGLU8-kO89pWoRAzl3S-dkeqzEZp1JzYUmkvCZmAIISctkABwzktRu5LWVP585idPIKlVWFrVGlMzQflwI7lQ91hNzdw7mzoEDrF08eLlnmxVPGpqCx76RIX7l5L8sHhappI4EnrKgOEGT894lJKUmG4oO6RU46QgBkwG0ghPv7FKiwpGsGJPwUl1tKXct02YSdFhoj_AWZB-XWMNY0SN7KJdj6jd96O9bHGDvMN3ZWP_FZrGBwmRCIGKMxpgg9v1xgk47gB50wpfjnINZE6e5j73E3BLqW_Vbl7D_JlFWylbfMiyRHT9OpABBq6FSHZXPAJ9bJMxvXL7gQQO8x9ZgQC6dyvpPVZJ1kZRAX8iU4rWPS4UZGz20mhiLvT7w_IYjaEjaKBZ1KGSDnA1-2VlvvT6n9a_zsXQ1e4bhAEOVKDG3LCemh_ozXQ_DRZGIyBm-l-eYnNa26Mu7fs3wpIP4A549XAzaKyBZ3mu5cAyraeHQO0JlLzzFnlrq3TDb-ld54FRQytmig-MiEkSHwFRjBH6K-xdcto8lTpcCIRvgvUMUrbScJJfxNUgvWQeuFZbE-uuXB3RRf-toGmSs7ykQihsFfYBry_m5IS84kpBPY5svNLjSd5rT9Z3U-8nEI8JUX8LHR7M4OAVvDtgHQAgNmhq4JLb7P91RamAK28B_QxKa-jxzZdepMoGv9ar_57nkoQC5PLCVJiSZ1rlvfDSJFnELAL_SQIDXnAOyq4mqHDYUW4W6C3EwoyO_zG7HEGdKQX9ISr6wtWOnPtU8LGwN7z3BvAqTqidm6jDPQKSRfdnuBH0_XzoNu_rb45V_oNAZbA9QPwK78Mixnyo7x5S7QH7O7yrPPXdZ_9O_LucjgZCJd5odvH7smHb6RNa6Hg-y29GlAtvSU70flEcAwW7MY2i6AjIsUoiBqFb09MTRd7B_Qv2CQmubiOJWx2haKPVkM0TtRBlN7YG8RMsxxyChfzWk5rWU_maj5OCl58Lmva2eGzJVjqBoFv7p_C2iFg6hPmtH55wL-wMdTyi3dskzbeXwDYGsT_YDEWfIsp1v5sm-Wm2s7ZPx8OGRpjujGQLtJPDT0inJBJ5SPC2tD3ZEUbvmd7Z2RH0ESs3POB1cFtf3cwg9mJBhwk-0yZdQv_sI5Hot883vJE27fEnZQPvAQcHDUEy-FOdOmbdxZtA1iaHhBU3pGs8bs-Mp_K6j-YbVFOHqNL6zEcqOjRVGMIngYDXJp8ZtcVXtgHDisSQTINxAkop-A-JT8G7f_JKsvCkp2_vKzB22e_czCfUc4bKgaQ8JUSDkjxNcSBG6B0sNq2df19F1IkIasOOT13E8ahnkuZ1ivX-TyK3ipTVXIwoM_hwVoaJvjJUk73D3_bqNqOsOGVWLOyG3mDaDPq6xUtyUJJDmr--AzoqX-RtzBgX6L5Zyz3u8WuMYFw1AhQ4Kdo6BABbQQ8lpnF2onBZuABaXctfip7N4gDpIBm8r-w54Ja0Gzv5r-sdjvtZhB4e9pI5z-hSqQT5JFEFVEm8iTkZVASBe_OsvRaIy8HDWlnHfiWLaOZp8uqd1JlmfzNiNWwOihsn4q_DRt1xUzA_3bPV_kGtaA6DZTcLdJ7p52WdUS9yJMDXX9pHug2ZLfxHTaIy5RTr3siNO85RkBwL3nKM7gRsmLapeZRIMDqWiQw9peENn8gsw5lVi_qbKo5UOHXM4gz6w7moEY01I_0lYhxicqreEHC-VM3LzY16jF4ziW2e05yyLy4JlgmQfIbzK0tm_q782JAcoenCb05FE_lj_dXZ6pFveu-hvOpK4rTsFut7Jg2IjXVQIvLhr7VqPLCtqQZx9LRcxsjkLTy4bgcXeKeKKI0_Rpx4iHBUTpcEqecvkdQ46qo7zYQjTty-VfIh7jcfNv0rwT5F53sk5fnQezFVIU1scXUTqmrW4jws4j-WoO17",cRq: {ru: 'aHR0cHM6Ly93d3cuYXRwdG91ci5jb20vZW4vc2NvcmVzL2N1cnJlbnQvdXMtb3Blbi81NjAvZGFpbHktc2NoZWR1bGU=',ra: 'cHl0aG9uLXJlcXVlc3RzLzIuMzEuMA==',rm: 'R0VU',d: 'XzMiF7vfQsQ04pHwjeeqEBn6oEqrqF+UOowzbdG1H1Dl4STvVDqodVVZlxTuUkmeqKiH0m0/uPJl5RFpr9vW3E3hQskuwfcmT0plvB2RNLniGPd+hBIH3bnPfbZc2czodIzWAiNOcFn3UwAbmk7nmSeApRLs9sMHJoPjjSYx4pJexPMPp0Yn5OSlGV7DEIk7dzMCVAP0seYR+aPr1jDP1IngOk+qzdjPPQI4YLLBxt994uLS7Ctjs240k/JmM+5LNIeMwrLUHhFz0iPVtm2nyUOAOfudJNWwn+zi32ROThZjjn7K2jmfKyMcp9BcxaG7GA8MRAjGOi/dhxCXrAdpwA3soWUFp8SZEBAzd6b2vVfBEOe93uq2M8IPotMduAieyTVAWjA5OOyjmkkAce3+5ZO6LeGso524gZdlbha6OMc5LDecrFW4DXMlzb7PmS/RDJnKcMnBY8IsIduuBhUqMHJIHglBR2d5FJzJAO9cXuKlcS98WyU2/ktVJgzg/0yBpAZ9bvmfZ4S5OyIpI76MVA==',t: 'MTY5Mjc4MzM1OS43NjUwMDA=',cT: Math.floor(Date.now() / 1000),m: 'P1sKcYBpzdWi8PeU47fgsK2OkA0JO5jPY2hXfsoxMkk=',i1: 'VnBFb7L9eFQQR9LADxTspQ==',i2: '38OtFlZZvDB3tSorTsDMlQ==',zh: 'PJLkxjIOmNWif+OPTw2lA+hmiaDpa5YbFCG05r6uT0o=',uh: 'YE9XOpG5TeHmhA1zfs5mxC8CrRZzq2a/+r+OU7dliYQ=',hh: '42LSexryIPJQ97DAurHrvvJmM63e8yDxNGAL5e3XKx0=',}};var cpo = document.createElement('script');cpo.src = '/cdn-cgi/challenge-platform/h/g/orchestrate/chl_page/v1?ray=7fb25e5e8ae6153d';window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0, location.href.length - window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;if (window.history && window.history.replaceState) {var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;history.replaceState(null, null, "\/en\/scores\/current\/us-open\/560\/daily-schedule?__cf_chl_rt_tk=l6OSNubSQAVxxN0YiRkBixUT1kZx1Ql0SnJNpHdF8zA-1692783359-0-gaNycGzNCqU" + window._cf_chl_opt.cOgUHash);cpo.onload = function() {history.replaceState(null, null, ogU);};}document.getElementsByTagName('head')[0].appendChild(cpo);}());</script></body></html>

In [48]:
#obviously make sure you have chrome installed....
 
import time 
import pandas as pd 
from bs4 import BeautifulSoup as bs
from selenium import webdriver 
from selenium.webdriver import Chrome, ChromeOptions
from selenium.webdriver.chrome.service import Service 
from selenium.webdriver.common.by import By 
from webdriver_manager.chrome import ChromeDriverManager

options = ChromeOptions()
options.add_argument("--headless=new")
options.page_load_strategy = 'normal' 
chrome_path = ChromeDriverManager().install() 
chrome_service = Service(chrome_path) 
driver = Chrome(options=options, service=chrome_service) 
driver.implicitly_wait(5)

atpurl = "https://www.atptour.com/en/scores/current/us-open/560/daily-schedule"
driver.get(atpurl) 
#time.sleep(5)
bs_atp = bs(driver.page_source, "html.parser")

In [53]:
# Getting players list 
table = bs_atp.find('div', attrs={'class':"sectioned-day-tables"}).find_all('td',attrs={'class':'day-table-name'})
players=[]
players2=[]
for torototo in table:
    bala = torototo.find('a')
    players.append(bala.get('data-ga-label'))

# Transformation to fit our database name (full name, first name only first letter then .)
# example : Rodionov J.


# Making it 2 dim
for i in range(0, len(players), 2):
    players2.append([players[i], players[i+1]])

#players2[0][1]
players2

[['Facundo Bagnis', 'Quinn Vandecasteele'],
 ['Eugenie Bouchard', 'Katherine Hui'],
 ['Patrick Kypson', 'Jurij Rodionov'],
 ['Darja Semenistaja', 'Liv Hovde'],
 ['Kevin Anderson', 'Oleksii Krutykh'],
 ['Federico Coria', 'Camilo Ugo Carabelli'],
 ['Katarina Zavatska', 'Anna Bondar'],
 ['Timofey Skatov', 'Kaichi Uchida'],
 ['Kimberly Birrell', 'Leyre Romero Gormaz'],
 ['Adrian Andreev', 'Nerman Fatic'],
 ['Taro Daniel', 'Sumit Nagal'],
 ['Elizabeth Mandlik', 'Amandine Hesse'],
 ['Brandon Holt', 'Alexander Ritschard'],
 ['Reka Luca Jani', 'Fiona Crawley'],
 ['Borna Gojo', 'Hamad Medjedovic'],
 ['Federico Gaio', 'Hugo Grenier'],
 ['Yuliia Starodubtseva', 'Celine Naef'],
 ['Raul Brancaccio', 'Vitaliy Sachko'],
 ['Jaqueline Adina Cristian', 'Iryna Shymanovich'],
 ['Aliona Bolsova', 'Magali Kempen'],
 ['Mary Stoiana', 'Viktorija Golubic'],
 ['Enzo Couacaud', 'Jaume Munar'],
 ['Kristina Mladenovic', 'Elena-Gabriela Ruse'],
 ['Michael Zheng', 'Franco Agamenone'],
 ['Miriam Bianca Bulgaru', 'Ankita Raina'],
 ['Francisco Comesana', 'Jozef Kovalik'],
 ['Lucrezia Stefanini', 'Ylena In-Albon'],
 ['Terence Atmane', 'Mate Valkusz'],
 ['Timea Babos', 'Jessica Bouzas Maneiro'],
 ['Chloe Paquet', 'Harriet Dart'],
 ['Alessandro Giannessi', 'Harold Mayot'],
 ['Marina Melnikova', 'Astra Sharma'],
 ['Giovanni Mpetshi Perricard', 'Thiago Monteiro'],
 ['Sara Errani', 'Erika Andreeva'],
 ['Pablo Llamas Ruiz', 'Andrea Collarini'],
 ['Laura Siegemund', 'Nuria Brancaccio'],
 ['Yu Hsiou Hsu', 'Cem Ilkel'],
 ['Leolia Jeanjean', 'Tereza Martincova'],
 ['Martin Damm', 'Federico Delbonis'],
 ['Barbora Palicova', 'Katie Volynets'],
 ['Thiago Agustin Tirante', 'Luca Nardi'],
 ['Aidan Mayo', 'Frederico Ferreira Silva'],
 ['Makenna Jones', 'Mirjam Bjorklund'],
 ['Sachia Vickery', 'Irene Burillo Escorihuela'],
 ['Dayana Yastremska', 'Heather Watson'],
 ['James Duckworth', 'Trevor Svajda'],
 ['Ekaterina Makarova', 'Tamara Zidansek'],
 ['Tomas Machac', 'Laurent Lokoli'],
 ['Yanina Wickmayer', 'Katherine Sebov'],
 ['Dominic Stricker', 'Alexis Galarneau'],
 ['Mona Barthel', 'Simona Waltert'],
 ['Benoit Paire', 'Geoffrey Blancaneaux'],
 ['Seongchan Hong', 'Francesco Passaro'],
 ['Giulio Zeppieri', 'Riccardo Bonadio'],
 ['Jessika Ponchet', 'Dalma Galfi'],
 ['Rebecca Sramkova', 'Nigina Abduraimova'],
 ['Felipe Meligeni Alves', 'Dalibor Svrcina'],
 ['Na-Lae Han', 'Victoria Jimenez Kasintseva'],
 ['Juncheng Shang', 'Genaro Alberto Olivieri'],
 ['Yuliya Hatouka', 'Tatiana Prozorova'],
 ['Jil Teichmann', 'Petra Marcinko'],
 ['Mikhail Kukushkin', 'Mattia Bellucci'],
 ['Karman Kaur Thandi', 'Oceane Dodin'],
 ['Otto Virtanen', 'Emilio Gomez']]